<app-toolbar></app-toolbar>
<div class="container">
    <h2>Cadastro do Investidor</h2>
    <form [formGroup]="investidorForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input id="nome" formControlName="nome" type="text">
      </div>
      <div class="form-group">
        <label for="fiis">FIIs (IDs separados por vírgula):</label>
        <input id="fiis" formControlName="fiis" type="text">
      </div>
      <button type="submit" [disabled]="investidorForm.invalid">Cadastrar</button>
    </form>
    <p class="mensagem" *ngIf="mensagem">{{ mensagem }}</p>
  </div>
  