.table-card {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.table-title{
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    color: #3f51b5; /* Cor primária */
}